<div class="awdawd">
  <div class="slider-wrapper">
    <div class="slideshow">

      <div class="slide one">

        <img class="slideimage" src="../../assets/desert-palms.jpg" />
      </div>
      <div class="slide two">
        <img class="slideimage" src="../../assets/bora-bora-french-polynesia-sunset-ocean.jpg" />

      </div>
      <div >
        <img class="slideimage" src="../../assets/bigs-Mt-McKinley-Big-Bold-Beautiful-E1-Large-373x230.jpg" />

      </div>

    </div>
  </div>
</div>
